<div class="container d-flex justify-content-center">
  <form action="/urlshortener" method="post">
    <div class="form-check mt-3">
 {{!-- 若使用者沒有輸入內容，就按下了送出鈕，防止表單送出並提示使用者 --}}
      <input type="url" class="form-control" id="urlshortener" name="urlshortener" aria-describedby="urltransformer"
        style="width: 500px;" required>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-primary">create</button>
    </div>
  </form>
</div>