<div class="container d-flex flex-column
 justify-content-center">
  <div class="d-flex 
 justify-content-center">
    <h2>Success!Please use this link</h2>
  </div>
  <div class="d-flex 
 justify-content-center">
    <div class="btn btn-light w-50">
      <a href="{{newUrl}}">{{newUrl}}</a>
    </div>
  </div>
</div>