<div class="container d-flex flex-column
 justify-content-center">
  <div class="d-flex 
   justify-content-center">
    <div class="btn btn-light w-50" style="pointer-events: none;">
      <span>http://localhost:3000/gogo/{{newURL}}</span>
    </div>
  </div>
  <div class="d-flex 
 justify-content-center">
    <h2>Original URL hasn't been shorten<br>Please back to menu and shorten it</h2>
  </div>
  <div class="d-flex 
 justify-content-center">
    <div class="btn btn-light w-50">
      <a class="btn btn-secondary" href="/">Back</a>
    </div>
  </div>
</div>